<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedAssetTypes || !selectedAssetTypes.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="invoices" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','type','modelNumber','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedAssetTypes" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Invoices</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="invoiceDate">Date <p-sortIcon field="invoiceDate"></p-sortIcon></th>
                        <th pSortableColumn="invoiceNumber">No. <p-sortIcon field="invoiceNumber"></p-sortIcon></th>
                        <th pSortableColumn="customerName">Customer <p-sortIcon field="customerName"></p-sortIcon></th>
                        <th pSortableColumn="total">Amount <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="invoice"></p-tableCheckbox>
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Date</span>
                            {{invoice.invoiceDate | date}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">No.</span>
                            {{invoice.invoiceNumber}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Customer</span>
                            {{invoice.customerName}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Amount</span>
                            {{invoice.total}}
                        </td>
                        <td style="width:20%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (invoice.status ? invoice.status.toLowerCase() : '')">{{invoice.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(invoice)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(invoice)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- <p-dialog [(visible)]="assettypeDialog" [style]="{width: '450px'}" header="AssetType Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="invoice.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !assettype.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !invoice.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description </label>
                    <input type="text" pInputText id="description" [(ngModel)]="assettype.description" autofocus />
                </div>

                <div class="field">
                    <label for="status">Status</label>
                    <p-dropdown [options]="statuses" [(ngModel)]="assettype.status" optionLabel="label" optionValue="value"></p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog> -->

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="invoice">Are you sure you want to delete <b>{{invoice.invoiceNumber}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected invoices?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
