<p-speedDial [model]="items" direction="right" [mask]="true"></p-speedDial>
<div class="book">
    <div class="page">
        <div class="subpage">
            <div id="billFrom">
                <div class="companyDetails">
                    <span class="invoiceHeader">INVOICE</span><br/>
                    <br/>
                    <span>Company Name</span><br/>
                    <span>Address Line 1</span><br/>
                    <span>Address Line 2</span><br/>
                    <span>Address Line 3</span><br/>
                    <a (click)="displayCompanyPanel = true">Edit Company</a>
                </div>
                <div class="companyContactDetails">
                    <span></span><br/><br/><br/>
                    <span>Email Address</span><br/>
                    <span>Phone Number</span><br/>
                </div>
                <div class="companyLogoDetails">
                    <img src="../../../../assets/blueverse_logo.png" alt="logo" width="80">
                </div>
            </div>
            <br/>
            <div style="width:100%;background-color: #edf3fb;padding: 10px 30px 10px 30px;" id="billTo">
                <div style="width:100%;padding:10px">
                    <p-dropdown [options]="customers" [(ngModel)]="selectedCustomer" optionLabel="name" optionValue="id"></p-dropdown>
                </div>
                <div style="width:100%;display:flex;padding:10px">
                    <div style="width:30%">
                        <span>Bill To</span><br/>
                        <span>Customer Name</span><br/>
                        <span>Address Line 1</span><br/>
                        <span>Address Line 2</span><br/>
                        <span>Address Line 3</span><br/>
                        <a (click)="displayCustomerPanel = true">Edit Customer</a>
                    </div>
                    <div style="width:30%">
                        <table>
                            <tr>
                                <td>Invoice No.</td>
                                <td><input type="text" style="width:80px"/></td>
                            </tr>
                            <tr>
                                <td>Terms</td>
                                <td><select style="width:80px"><option>Net 30</option></select></td>
                            </tr>
                            <tr>
                                <td>Invoice Date</td>
                                <td><input type="text" style="width:80px"/></td>
                            </tr>
                            <tr>
                                <td>Due Date</td>
                                <td><input type="text" style="width:80px"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
            <div style="width:100%;padding: 10px 30px 10px 30px;" id="tags">
                <div style="width:100%;display: flex;">
                    <span style="width:50%">Tags (hidden)</span>
                    <span style="width:50%;text-align: right;"><a (click)="displayTagPanel = true">Manage Tags</a></span>
                </div>
                <input type="text" style="width:100%"/>
            </div>
            <br/>
            <div style="width:100%;padding: 10px 30px 10px 30px;" id="productService">
                <div style="width:100%;display: flex;">
                    <span style="width:80%">Product or service</span>
                    <span style="width:30%;">Amount</span>
                </div>
                <hr/>
                <div style="width:100%;">
                    <div style="width:100%;display: flex;">
                        <div style="width:5%">1.</div>
                        <div style="width:25%"><input type="text" style="width:100%;border: none;" placeholder="Product or service"/></div>
                        <div style="width:10%"><input type="text" style="width:100%;border: none;" placeholder="Unit"/></div>
                        <div style="width:10%"><input type="text" style="width:100%;border: none;" placeholder="Qty"/></div>
                        <div style="width:5%">x</div>
                        <div style="width:10%"><input type="text" style="width:100%;border: none;" placeholder="Rate"/></div>
                        <div style="width:5%">=</div>
                        <div style="width:30%"><input type="text" style="width:100%;border: none;" placeholder="$0.00"/></div>
                    </div>
                    <br/>
                    <div style="width:100%;display: flex;">
                        <input type="text" style="width:96%;border: none;" placeholder="Enter item description or details"/>
                        <a><i class="pi pi-trash"></i></a>
                    </div>
                </div>
                <hr/>
                <!-- <div style="width:100%;padding: 10px">
                    <div style="width:100%;display: flex;">
                        <div style="width:5%">2.</div>
                        <div style="width:25%"><span>Product or service</span></div>
                        <div  style="width:10%"><span>Unit</span></div>
                        <div  style="width:10%"><span>Qty</span></div>
                        <div style="width:5%">x</div>
                        <div  style="width:10%"><span>Rate</span></div>
                        <div style="width:5%">=</div>
                        <div style="width:30%"><span>$0.00</span></div>
                    </div>
                    <br/>
                    <div style="width:100%;display: flex;">
                        <input type="text" style="width:96%;border: none;" placeholder="Enter item description or details"/>
                        <a><i class="pi pi-trash"></i></a>
                    </div>
                </div>
                <hr/>-->
                <a><i class="pi pi-plus-circle"></i> Add product or service</a>
                <hr/>
            </div>
            <br/>
            <div style="width:100%;display: flex;padding: 10px 30px 10px 30px;" id="totalAndPayment">
                <div style="width:50%">
                    <strong>Customer payment options <a>Edit</a></strong><br/>
                    <select><option>BANK</option></select><br/>
                    <textarea  style="width:96%;border: none;" placeholder="Tell your customer how you want to get paid"></textarea>
                </div>
                <div style="width:50%">
                    <table style="width:100%">
                        <tr>
                            <td>Subtotal</td>
                            <td style="text-align: right;">$11,520.00</td>
                        </tr>
                        <tr>
                            <td>Sales tax</td>
                            <td style="text-align: right;"><a>Set up</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr/></td>
                        </tr>
                        <tr>
                            <td>Invoice Total</td>
                            <td style="text-align: right;">$11,520.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: right;"><a>Edit Invoice</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <div style="width:100%;padding: 10px 30px 10px 30px;" id="notes">
                <div style="width:50%">
                    <strong>Note to customer</strong><br/>
                    <textarea  style="width:96%;border: none;" placeholder="Tell note to your customer"></textarea>
                </div>
            </div>
            <br/>
            <div style="width:100%;padding: 10px 30px 30px 30px;" id="attachments">
                <div style="width:50%">
                    <strong>Attachments</strong><br/>
                    <input type="file" multiple />
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayCustomerPanel"  position="right" [style]="{width:'30em'}">
    <ng-template pTemplate="header">
        <h1 style="font-weight:normal">Add/Edit Customer</h1>
    </ng-template>
    <ng-template pTemplate="content">Body Content</ng-template>
</p-sidebar>
<p-sidebar [(visible)]="displayCompanyPanel"  position="right" [style]="{width:'30em'}">
    <ng-template pTemplate="header">
        <h1 style="font-weight:normal">Edit Company</h1>
    </ng-template>
    <ng-template pTemplate="content">Body Content</ng-template>
</p-sidebar>
<p-sidebar [(visible)]="displayTagPanel"  position="right" [style]="{width:'30em'}">
    <ng-template pTemplate="header">
        <h1 style="font-weight:normal">Manage Tag</h1>
    </ng-template>
    <ng-template pTemplate="content">Body Content</ng-template>
</p-sidebar>
